<section>
    <div class="fluid-container py-5 w-100 p-3">
      <!-- Start -->
      <header class="text-center mb-5 text-white">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <h1>Choose the Perfect Plan for You</h1>
            <p>Select from our flexible pricing options to find the plan that fits your needs. Each plan is designed to offer you the best value and features for your goals.</p>
          </div>
        </div>
      </header>
      <!-- END -->

      <div class="row text-center align-items-end">
        <!-- Pricing Table -->
        <div class="col-md-3 col-sm-6 mb-5 mb-md-0">
          <div class="bg-white p-5 rounded-md shadow" >
            <h1 class="h6 text-uppercase font-weight-bold mb-4">FREE</h1>
            <h2 class="h1 font-weight-bold">$0<span class="text-small font-weight-normal ml-2">/ <br>month</span></h2>

            <div class="custom-separator my-4 mx-auto bg-primary"></div>

            <ul class="list-unstyled my-5 text-small text-left">
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i>Product Search 
                <br><a> </a>(upto 5 searches/month)
              </li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Keyword Search<br><a> </a>(upto 5 searches/month)
              </li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Review Analysis <br><a> </a>(upto 2 analysis only)
              </li>
              <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i>
                <del>Porter Strategy analysis</del>
              </li>
              <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i>
                <del>SWOT Analysis</del>
              </li>
              <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i>
                <del>BCG Matrix</del>
              </li>
              <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i>
                <del>Product Feature Matrix</del>
              </li>
              <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i>
                <del>Data Export</del>
              </li>
              <li class="mb-3 text-muted">
                <i class="fa fa-times mr-2"></i>
                <del>Priority Support</del>
              </li>
            </ul>
            <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
          </div>
        </div>
        <!-- END -->

        <!-- Pricing Table2 (Duplicate of the second one) -->
        <div class="col-md-3 col-sm-6 mb-5 mb-md-0">
          <div class="bg-white p-5 rounded-md shadow">
            <h1 class="h6 text-uppercase font-weight-bold mb-4">Basic</h1>
            <h2 class="h1 font-weight-bold">$149<span class="text-small font-weight-normal ml-2">/ Quarterly</span></h2>

            <div class="custom-separator my-4 mx-auto bg-primary"></div>

            <ul class="list-unstyled my-5 text-small text-left">
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i>Product Search 
                <br><a> </a>(upto 100 searches/month)
              </li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Keyword Search<br><a> </a>(upto 100 searches/month)
              </li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Review Analysis <br><a> </a>(upto 100 Analysis/month)
              </li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i>Porter Strategy analysis 
                <br><a> </a>(upto 5 Analysis/month)
              </li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> SWOT Analysis<br><a> </a>(upto 5 Analysis/month)
              </li>
             <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> BCG Matrix<br><a> </a>(upto 5 Analysis/month)
              </li>
<li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Product Feature Matrix<br><a> </a>(upto 5 Analysis/month)
              </li>
             <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Data Export<br><a> </a>(CSV Format only)
              </li> 
               <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Priority Support<br><a> </a>(Chat Support)
              </li> 
            </ul>
            <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
          </div>
        </div>
        <!-- END -->

        <!-- Pricing Table3 (Duplicate of the second one) -->
        <div class="col-md-3 col-sm-6 mb-5 mb-md-0">
          <div class="bg-white p-5 rounded-md shadow">
            <h1 class="h6 text-uppercase font-weight-bold mb-4">PRO</h1>
            <h2 class="h1 font-weight-bold">$249<span class="text-small font-weight-normal ml-2">/<br> Half-Yearly</span></h2>

            <div class="custom-separator my-4 mx-auto bg-primary"></div>

            <ul class="list-unstyled my-5 text-small text-left">
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i>Product Search 
                <br><a> </a>(upto 200 searches/month)
              </li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Keyword Search<br><a> </a>(upto 200 searches/month)
              </li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Review Analysis <br><a> </a>(upto 200 Analysis/month)
              </li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i>Porter Strategy analysis 
                <br><a> </a>(upto 10 Analysis/month)
              </li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> SWOT Analysis<br><a> </a>(upto 10 Analysis/month)
              </li>
             <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> BCG Matrix<br><a> </a>(upto 10 Analysis/month)
              </li>
<li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Product Feature Matrix<br><a> </a>(upto 10 Analysis/month)
              </li>
             <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Data Export<br><a> </a>(CSV  & Excel Format only)
              </li> 
               <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Priority Support<br><a> </a>(Email & Chat Support)
              </li> 
            </ul>
            <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
          </div>
        </div>
        <!-- END -->

        <!-- Pricing Table4 (Duplicate of the second one) -->
        <div class="col-md-3 col-sm-6 mb-5 mb-md-0">
          <div class="bg-white p-5 rounded-md shadow">
            <h1 class="h6 text-uppercase font-weight-bold mb-4">ENTERPRISE</h1>
            <h2 class="h1 font-weight-bold">$699<span class="text-small font-weight-normal ml-2">/ <br>Yearly</span></h2>

            <div class="custom-separator my-4 mx-auto bg-primary"></div>

            <ul class="list-unstyled my-5 text-small text-left">
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i>Product Search 
                <br><a> </a>(upto 500 searches/month)
              </li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Keyword Search<br><a> </a>(upto 500 searches/month)
              </li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Review Analysis <br><a> </a>(upto 500 Analysis/month)
              </li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i>Porter Strategy analysis 
                <br><a> </a>(upto 30 Analysis/month)
              </li>
              <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> SWOT Analysis<br><a> </a>(upto 30 Analysis/month)
              </li>
             <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> BCG Matrix<br><a> </a>(upto 30 Analysis/month)
              </li>
<li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Product Feature Matrix<br><a> </a>(upto 30 Analysis/month)
              </li>
<li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Add-On:<br><a> </a>(Custom Features)
              </li>
             <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Data Export<br><a> </a>(CSV, Excel & Json only)
              </li> 
               <li class="mb-3">
                <i class="fa fa-check mr-2 text-primary"></i> Priority Support<br><a> </a>(Phone, Email, & Chat Support)
              </li> 
            </ul>
            <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
          </div>
        </div>
        <!-- END -->
      </div>
    </div>
  </section>