.fluid-container{
    background: #0d6efd;
    // background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(90deg, #0d6efd 0%, #5a9dfc 100%);
    // background: linear-gradient(to right, #0083B0, #00B4DB);
    color: #514B64;
    min-height: 100vh;
    // margin: 0px !important;
    // padding: 0px !important;
}

.rounded-lg {
    border-radius: 1rem !important;
  }

  .text-small {
    font-size: 0.9rem !important;
  }

  .custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
  }

  .text-uppercase {
    letter-spacing: 0.2em;
  }

.pricing-table {
    max-width: 100%; /* Ensure tables don't exceed container width */
  }
.h6{
    font-size: 1rem;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}