.dropdown-card{
    width: 30%;
}

.dropdown-card:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.filter-selection{
    background: linear-gradient(to right, #ecf0f1, #bdc3c7);
}
.card-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow: hidden;
}

/* Column layout for smaller screens */
@media (max-width: 992px) {
    .card-container {
        flex-direction: row;
        align-items: flex-start;
    }
    .dropdown-card{
        width: 29%;
    }
}


/* Column layout for smaller screens */
@media (max-width: 768px) {
    .card-container {
        flex-direction: row;
        align-items: flex-start;
    }
    .dropdown-card{
        width: 90%;
    }
}

/* Column layout for smaller screens */
@media (max-width: 576px) {
    .card-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .dropdown-card{
        width: 90%;
    }
    .date{
        flex-direction: column;
    }
}

.scheduleIcon{
    
}







