<div class="table-container">



  <div class="card border-0 rounded-3 p-2 mt-3"
    style="background: linear-gradient(to right, #f9fafb 0.1%, #d4edda 50%)">
    <div class="d-flex flex-wrap justify-content-between align-items-center m-1 p-2">
      <div>
        <button (click)="downloadExcel('Keyword Search')" type="button" class="btn btn-success">
          Download Keyword Template 
        </button>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <p class="p-0 m-0" style="color: #6c757d">
          Click the button to download the template for uploading data.
        </p>
      </div>
    </div>
  </div>







  <!-- //Excel Upload file -->
  <div class="card border-0 rounded-3 p-2 mt-3"
    style="background: linear-gradient(to right, #f9fafb 0.1%, #d4edda 50%)">
    <div class="d-flex flex-wrap justify-content-between align-items-center m-1 p-2">
      <div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Upload Excel file</label>
          <input class="form-control" type="file" id="formFile" (change)="handleFileChange($event)" />
        </div>
      </div>
    </div>
  </div>

  <p class="fw-medium fs-5 mt-4">Keyword Table</p>

  <!--keyword Table  -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Platform ID Column -->
    <ng-container matColumnDef="platformId">
      <th mat-header-cell *matHeaderCellDef>Platform ID</th>
      <td mat-cell *matCellDef="let element">{{ element.platformId }}</td>
    </ng-container>

    <!-- Platform Column -->
    <ng-container matColumnDef="platform">
      <th mat-header-cell *matHeaderCellDef>Platform</th>
      <td mat-cell *matCellDef="let element">{{ element.platform }}</td>
    </ng-container>

    <!-- Keyword Column -->
    <ng-container matColumnDef="keyword">
      <th mat-header-cell *matHeaderCellDef>Keyword</th>
      <td mat-cell *matCellDef="let element">{{ element.keyword }}</td>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let element">{{ element.country }}</td>
    </ng-container>

    <tr mat-header-row class="bg-primary text-light fs-5" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row class="" style="font-size: small" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>